* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
}

.border {
  width: 500px;
  height: 250px;
  background: #ebe5e5;
  margin: 150px auto;
  position: relative;
  border-radius: 7px;
}

.border::after,
.border::before {
  content: "";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  position: absolute;
  top: -5px;
  left: -5px;
  background-size: 500%;
  animation: anim 10s linear infinite alternate;
  z-index: -1;
  border-radius: 7px;
}
.border::after {
  filter: blur(20px);
}
@keyframes anim {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fb0094;
  position: absolute;
  animation: circle-anim 8s ease-in-out infinite alternate;
}

@keyframes circle-anim {
  0% {
    background: #0000ff;
    top: 0;
    left: 0;
  }
  25% {
    background: #fb0094;
    width: 180px;
    height: 180px;
    top: 75px;
  }
  50% {
    background: #00ff00;
    top: 0;
    width: 100px;
    height: 100px;
  }
  75% {
    background: #ffff00;
    top: 195px;
    left: 450px;
    width: 50px;
    height: 50px;
  }
  100% {
    background: #ff0000;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .border {
    width: 250px;
    height: 400px;
  }
  @keyframes circle-anim {
    0% {
      background: #0000ff;
      top: 0;
      left: 0;
    }
    25% {
      background: #fb0094;
      width: 180px;
      height: 180px;
      left: 75px;
    }
    50% {
      background: #00ff00;
      top: 150;
      left: 30;
      width: 100px;
      height: 100px;
    }
    75% {
      background: #ffff00;
      top: 340px;
      left: 50px;
      width: 50px;
      height: 50px;
    }
    100% {
      background: #ff0000;
      top: 0;
      left: 0;
    }
  }
}
